<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>

    <title>Document</title>


    <script>
        function get_goods(category) {
            $("#goodsList").empty()
            console.log(category)
            $.ajax({
                type: "GET",
                url: `/api/goods${category ? "?category=" + category : ""}`,
                data: {},
                success: function (response) {
                    let goods = response["goods"]
                    for (let i = 0; i < goods.length; i++) {
                        make_card(goods[i])
                    }
                }
            })
        }



        function submitContent() {
            let contentId = new Date().getTime();
            let title = $('#title').val();
            let name = $('#name').val();
            let password = $('#pw').val();
            let content = $('#content').val();
            console.log(contentId, title, name, password, content);

            $.ajax({
                type: "POST",
                url: `/api/posts`,
                data: {
                    contentId: contentId,
                    title: title,
                    name: name,
                    password: password,
                    content: content
                },
                success: function (response) {
                    console.log("POST API successful");
                }
            })
            window.location.href = '/allEntries';
        }
        // function addCart() {
        //     $.ajax({
        //         type: "POST",
        //         url: `/api/goods/${goodsId}/cart`,
        //         data: {
        //             quantity: sessionStorage.getItem("orderNum")
        //         },
        //         error: function (xhr, status, error) {
        //             if (status == 400) {
        //                 alert("존재하지 않는 상품입니다.");
        //             }
        //             window.location.href = "/goods";
        //         },
        //         success: function (response) {
        //             if (response["result"] == "success") {
        //                 $("#cartModal").modal("show");
        //             }
        //         }
        //     });
        // }
    </script>
</head>

<body>

    <div>
        Hellooooo
    </div>
    <div>
        <div>
            제목: <input id="title" type="text">
        </div>
        <div>
            작성자명: <input id="name" type="text">
        </div>
        <div>
            비밀번호: <input id="pw" type="password">
        </div>
        <div>
            내용: <textarea id="content" type="text"></textarea>
        </div>
        <div>
            <button onclick="submitContent()">글쓰기</button>
        </div>
    </div>
</body>

</html>