<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<nav class="navbar is-info">
    <div class="navbar-brand">
      <a class="navbar-item" href="/home" >
        나만의 항해일지
      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control" style="padding-top: 10px;">
              <a class="bd-tw-button button" href="">
                <span>
                  Velog
                </span>
              </a>
            </p>
            <p class="control" style="padding-top: 10px;">
              <a class="button is-primary" href="/list">
                <span>일지목록</span>
              </a>
            </p>
            <p class="control" style="padding-top: 10px;">
              <a class="button is-danger" href="/write">
                <span>일지쓰기</span>
              </a>
            </p>
          </div>
        </div>
      </div>
  </nav>
  
<body>
<div class="videoCover">
    <div class="videoBox">
        <video src="" muted autoplay loop></video>
    </div>
</div>
</body>
</html>